.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    padding-left: 100px;
  }

  .textNavigation {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 28.8px;
    align-self: center;
    color: white;
    text-decoration: none;
  }