.profileContainer{
    background-image: url('../../assets/images/car_background.png');
    height: 100vh;
    padding: 50px 50px;
}

.myGarage {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.carStyleImage {
width: 300px;
height: 300px;
}